:root {
    --background-color-light: #fff;
    --background-color-dark: #333;
    --border-color-light: #e0e0e0;
    --border-color-dark: #666;
    --text-color-light: #000;
    --text-color-dark: #fff;
    --link-color: #007BFF;
}

.project {
    background-color: var(--background-color-light);
    border: 1px solid var(--border-color-light);
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--text-color-light);
}

.project img {
    max-width: 30%;
    height: auto;
}

h1 {
    color: var(--link-color);
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color-light: #333;
        --background-color-dark: #111;
        --border-color-light: #666;
        --border-color-dark: #444;
        --text-color-light: #fff;
        --text-color-dark: #fff;
    }

    .project {
        background-color: var(--background-color-dark);
        border: 1px solid var(--border-color-dark);
        color: var(--text-color-dark);
    }
}