:root {
  --text-color-light: #000;
  --text-color-dark: #fff;
  --link-color: #007BFF;
}

.top-nav {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  color: var(--text-color-light);
}

.top-nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.top-nav ul li {
  margin-right: 20px;
}

.top-nav a {
  color: var(--link-color);
  text-decoration: none;
}

.top-nav a:hover {
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color-light: #fff;
    --link-color: #007BFF;
  }

  .top-nav {
    color: var(--text-color-dark);
  }
}